In [1]:
import sqlite3, csv

In [2]:
def execute_db(fname,sql_cmd):
    conn = sqlite3.connect(fname)
    c = conn.cursor()
    c.execute(sql_cmd)
    conn.commit()
    conn.close()
    
db_name = 'db2.sqlite'
cmd = 'CREATE TABLE record (id INTEGER PRIMARY KEY AUTOINCREMENT, item TEXT, price INTEGER, shop TEXT)'
execute_db(db_name, cmd)

In [5]:
cmd2 = 'INSERT INTO record(item,price,shop) VALUES ("PS4測試機",1000,"測試賣家")'
execute_db(db_name,cmd2)

In [6]:
with open('ezprice.csv','r',encoding= 'utf-8')as f:
    reader = csv.DictReader(f)
    for row in reader:
        cmd3 = 'INSERT INTO record(item, price, shop) VALUES ("%s",%d, "%s")'%(row['品項'], int(row['價格']), row['商家'])
        execute_db(db_name,cmd3)

In [11]:
def select_db(fname, sql_cmd):
    conn = sqlite3.connect(fname)
    c = conn.cursor()
    c.execute(sql_cmd)
    rows = c.fetchall()
    conn.close()
    return rows

db_name = 'db2.sqlite'
cmd4 = 'SELECT * FROM record WHERE shop="isunfar愛順發3C購物網" '
for row in select_db(db_name,cmd4):
    print(row)

(2, 'SONY PS4主機(500G黑) HITS5 同捆組', 9980, 'isunfar愛順發3C購物網')
(23, 'SONY PS4主機(500G黑) HITS5 同捆組', 9980, 'isunfar愛順發3C購物網')
(25, 'SONY PS4主機(500G黑) HITS5 同捆組', 9980, 'isunfar愛順發3C購物網')
(46, 'SONY PS4主機(500G黑) HITS5 同捆組', 9980, 'isunfar愛順發3C購物網')